### PELATIHAN KEMLU
Tanggal : 2 Oktober 2025 <br>
Tempat : Bogor

In [1]:
print ("ngetes nih bos")

ngetes nih bos

In [5]:
a = input("nama saya:")

nama saya: yede

In [6]:
print("halo, nama saya : {}".format(a))

halo, nama saya : yede

Arithmetics

In [7]:
x = 10
y = 5

In [9]:
x + y

15

In [10]:
x*y

50

In [11]:
x**y # ** = pangkat

100000

In [12]:
19 % 3 # % = modulus

1

In [13]:
a = 32
b = 5

In [20]:
print("a dibagi b = {}, sisa = {}".format(a//b, a%b))

a dibagi b = 6, sisa = 2

In [22]:
c = a + b

In [23]:
print("{}".format(c))

37

SELECTION AND REPETITION

In [24]:
age = int(input("masukkan umur: "))

if age >= 1 and age < 13:
    print("dibawah umur")
elif age > 13 and age < 20:
    print("remaja")
else:
    print("dewasa")

masukkan umur:  17

remaja

In [51]:
for n in range (1, 10, 1):
    if n == 2 : 
        print(n)   
    
    for i in range (1, 10, 1):
            
        if n % i == 0 & n != 0 :
            print(i)

2

In [55]:
a = {
    "nama" : ["a", "b", "c"],
    "usia" : [15, 19, 30],
    "alamat" : ["jakarta", "bogor", "bandung"]
}

In [56]:
a.keys()

dict_keys(['nama', 'usia', 'alamat'])

In [57]:
a.values()

dict_values([['a', 'b', 'c'], [15, 19, 30], ['jakarta', 'bogor', 'bandung']])

In [62]:
for i, j in a.items():
    print(i)
    for k in j:
        print("- {} (tipe data = {})".format(k, type(k)))

nama
- a (tipe data = <class 'str'>)
- b (tipe data = <class 'str'>)
- c (tipe data = <class 'str'>)
usia
- 15 (tipe data = <class 'int'>)
- 19 (tipe data = <class 'int'>)
- 30 (tipe data = <class 'int'>)
alamat
- jakarta (tipe data = <class 'str'>)
- bogor (tipe data = <class 'str'>)
- bandung (tipe data = <class 'str'>)

FUNCTION

In [77]:
b = {
    "nama" : ["D", "E", "F"],
    "usia" : [5, 9, 3],
    "alamat" : ["BALI", "bogor", "bandung"]
}

In [78]:
def ekstrak_data(data):
    for i, j in data.items():
        print(i)
        for k in j:
            print("- {} (tipe data = {})".format(k, type(k)))

In [79]:
ekstrak_data(data = b)

nama
- D (tipe data = <class 'str'>)
- E (tipe data = <class 'str'>)
- F (tipe data = <class 'str'>)
usia
- 5 (tipe data = <class 'int'>)
- 9 (tipe data = <class 'int'>)
- 3 (tipe data = <class 'int'>)
alamat
- BALI (tipe data = <class 'str'>)
- bogor (tipe data = <class 'str'>)
- bandung (tipe data = <class 'str'>)

In [107]:
data_kedutaan = {
    "jepang" : {
        "nama" : "KBRI Tokyo",
        "alamat" : "Tokyo",
        "jam kerja" : "senin - jumat, 9:00 - 17:00"
    },

    "singapura" : {
        "nama" : "KBRI Singapura",
        "alamat" : "Singapura",
        "jam kerja" : "senin - jumat, 9:00 - 18:00"
    }
}

In [108]:
def cari_kedutaan(negara):
    key = negara.lower()
    
    if key in data_kedutaan:
        data = data_kedutaan[key]
        print("{}".format(data["nama"].upper()))
        print("- alamat: {}".format(data["alamat"]))
        print("- jam kerja: {}".format(data["jam kerja"]))

    else:
        print("maaf, data belum tersedia")

In [112]:
def main():
    print("============ SISTEM INFORMASI KEDUTAAN RI ==================")

    try:
        user_input = input("masukkan nama negara: ").strip()
        if not user_input :
            print ("negara tidak boleh kosong")
        else:
            return cari_kedutaan(negara = user_input)


    except Exception as e:
        print("error message: {}".format(e))
        traceback.print_exc()
        print("exit.")


if __name__ == "__main__":
    main()

============ SISTEM INFORMASI KEDUTAAN RI ==================

masukkan nama negara:  tes

maaf, data belum tersedia